<header>
    <nav class="main-header navbar">


        <div class="header-left">
            <a href="#" class="app-title">Logo</a>
        </div>


        <div class="header-right">
            <button class="sidebar-toggle" (click)="toggleSidebar.emit()">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="24" height="24" x="0" y="0" viewBox="0 0 384 384" style="enable-background:new 0 0 512 512"
                    xml:space="preserve" class="">
                    <g>
                        <path
                            d="M368 154.668H16c-8.832 0-16-7.168-16-16s7.168-16 16-16h352c8.832 0 16 7.168 16 16s-7.168 16-16 16zM368 32H16C7.168 32 0 24.832 0 16S7.168 0 16 0h352c8.832 0 16 7.168 16 16s-7.168 16-16 16zM368 277.332H16c-8.832 0-16-7.168-16-16s7.168-16 16-16h352c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0"
                            fill="#000000" opacity="1" data-original="#000000" class=""></path>
                    </g>
                </svg>
            </button>
            <ul>

                <li>عربي</li>
                <li>
                    Logout
                </li>
            </ul>
        </div>

    </nav>


    <nav class="sec-header navbar">
        <div class="header-left">
            <h5 class="welcome-back"><span>Welcome back, </span>Alaa fathi Abu Khalil</h5>
            <p class="message">Schedule Or Update your appointments and personal details</p>
        </div>


        <div class="header-right">
            <button class="btn points">
                Loyality Points <span>0</span>
            </button>
        </div>

    </nav>

</header>