<footer>
    <div class="content-1 ">
        <div class="logo">
            Logo
        </div>
        <div class="cards">
            <img src="https://banner2.cleanpng.com/lnd/20241123/ry/85dda930e3465f586e2b20700028d0.webp" >
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Visa_Inc._logo.svg" >
            <img src="https://banner2.cleanpng.com/lnd/20241123/ry/85dda930e3465f586e2b20700028d0.webp" >
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Visa_Inc._logo.svg" >
        </div>
    </div>
    <div class="links">
        <h3>reservation</h3>
        <ul>
            <li>
                <a href="">New Reservation</a>
            </li>
            <li>
                <a href="">Manage Reservation</a>
            </li>
        </ul>
    </div>

    <div class="links">
        <h3>Gifting</h3>
        <ul>
            <li>
                <a href="">Buy Gift Card</a>
            </li>
            <li>
                <a href="">Redeem Gift Card</a>
            </li>
        </ul>
    </div>


    <div class="links">
        <h3>Terms & Conditions</h3>
        <ul>
            <li>
                <a href="">Privacy Policy</a>
            </li>
            <li>
                <a href="">Loyality Wallet Policy</a>
            </li>
        </ul>
    </div>
</footer>